---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<ul class="post-list">
				{posts.map((post) => (
					<li>
						<a href={`/blog/${post.id}/`}>
							<h3>{post.data.title}</h3>
						</a>
						<time><FormattedDate date={post.data.pubDate} /></time>
						{post.data.description && <p>{post.data.description}</p>}
					</li>
				))}
			</ul>
		</main>
		<Footer />
	</body>
</html>

<style>
	main {
		max-width: 800px;
		width: 100%;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 2em 1em;
	}
	.post-list {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.post-list li {
		border-bottom: 1px solid #eee;
	}
	.post-list li:last-child {
		border-bottom: none;
	}
	.post-list a {
		display: block;
		padding: 1em 0;
		text-decoration: none;
		color: inherit;
	}
	.post-list a:hover h3 {
		text-decoration: underline;
	}
	.post-list h3 {
		margin: 0 0 0.25em;
		font-family: var(--font-bicubik), sans-serif !important;
		font-size: 1.4em;
		color: var(--green-light);
		line-height: 1.2;
	}
	.post-list time {
		font-size: 0.8em;
		color: #888;
	}
	.post-list p {
		margin: 0.5em 0 0;
		color: #555;
		font-size: 0.95em;
		line-height: 1.5;
	}
	@media (max-width: 720px) {
		main {
			padding: 1.5em 1em;
		}
		.post-list h3 {
			font-size: 1.15em;
		}
	}
</style>
